body {
    font-family: 'YekanBakhBold';
}

.news-container {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 50px;
    width: 70%;
    height: 75%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#title {
    margin: 10px 0 20px 0;
    width: 55%;
    font-size: 1.2rem;
}

#image-url {
    margin: 10px 0 30px 0;
}

textarea {
    margin: 10px 0 20px 0;
    width: 75%;
    height: 45%;
}

.dropdown ul {
    width: 130px;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}

.dropdown ul img {
    width: 20px;
    height: 20px;
}

.btn-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100px;
}

.btn-outline {
    margin: 10px 0 20px 135px;
}

.news-container div:first-child {
    margin-top: 20px;
}

.news-container .image-title {
    margin-top: 10px;
}

.required {
    color: rgb(255, 40, 40);
}

.radio:not(:first-child) {
    margin-right: 30px;
}

.radio {
    margin-left: 5px;
}

#radio-container {
    margin: 10px 0 20px 0;
}

@media (max-width: 600px) {
    .radio:not(:first-child) {
        margin-right: 10px;
    }
    .news-container {
        padding-right: 30px;
    }   
}